
:root {
background-color: #a9a9a9;
color:#ffff00;
font-family: 'Courier New', Courier, monospace;
text-align: center;
}

header {
margin-top: 5%;
margin-bottom: 3%;
width: 100%;
text-align: center;
}


#profile img {
    border: 5px solid #4682B4;
    border-radius: 50%;
    width: 50%;
    align: center;
    margin-top: 2%;

}

.profile image p {

  shape-outside: circle(50%);
  width: 300px;
  height: 300px;
  float: left; 
}


footer  {
    padding: 30px;
    clear: both;
    text-align: center;
    font-size: 15px;

}


.flex-container {
    height: 100vh;
    border: 20px solid #4682B4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.flex-container img {
    width: 200px;
    height: 200px;
    background: #4682B4 (39, 61, 134);

}

.first-work {
    width: 200px;
    height: 200px;
    background: #4682B4 (39, 61, 134);
}

.resume {
    width: 200px;
    height: 200px;
    background: #4682B4 (172, 57, 53);
}

.bottom-nav {
width: 200px;
height: 200px;
background: #4682B4 (149, 43, 140:);

}