
:root {
background-color: #a9a9a9;
color:#ffff00;
font-family: 'Courier New', Courier, monospace;
text-align: center;
}

header {
margin-top: 5%;
margin-bottom: 3%;
width: 100%;
text-align: center;
}

#profile img {
    border: 5px solid #4682B4;
    border-radius: 50%;
    width: 100%;
    align: center;
    margin-top: 2%;
}

.flex-container {
    border: #4682B4;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 5px;
}

@media screen and (max-width: 50px) {
    .column {
        width: 100%;
    }
}

.contact {
    text-align: center;
    size: 20px; 
    width: 100%;
    background: #4682B4;
}

.fontawesome {
    
    margin-top: 5%;
    margin-bottom: 3%;
    width: 50%;
    text-align: center;
    padding: 10px;
}

footer  {
    padding: 30px;
    clear: both;
    text-align: center;
    font-size: 15px;
}