
:root {
background-color: #a9a9a9;
color:#ffff00;
font-family: 'Courier New', Courier, monospace;
text-align: center;
}

header {
margin-top: 10%;
margin-bottom: 10%;
width: 100%;
text-align: center;
}


#profile img {
    border: 5px solid #4682B4;
    border-radius: 50%;
    width: 50%;
    align: center;

}

.profile image p {

  shape-outside: circle(50%);
  width: 300px;
  height: 300px;
  float: left; 
}

#work img {
    text-align: center;
     width: 25%;
}

#social ul{
    text-align: center;
    width: 100%;
}

footer  {
    padding: 30px;
    clear: both;
    text-align: center;

}

.first-work {
    display: flex;
    width: 100%;
}

.first-work img {
    width: 33%;
    flex-shrink: 0%;
    background: #4682B4;
    padding: 1rem;
    margin: 2px;

}

.resume {
    display: flex;
    width: 100%;

}

.resume img {
    width: 33%;
    flex-shrink: 0%;
    background: #4682B4;
    padding: 1rem;
    margin: 2px;

}

.bottom-nav {
    display: flex;
    width: 100%;

}

.bottom-nav ul {

    width: 33%;
    flex-shrink: 0%;
    background: #4682B4;
    padding: 1rem;
    margin: 2px;


}